ip-web/src/main/webapp/wsdl/document.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://za.co.idea/document/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="document" targetNamespace="http://za.co.idea/document/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://za.co.idea/document/">
			<xsd:simpleType name="entityId">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="contentType">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="fileName">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="fileContent">
				<xsd:restriction base="xsd:base64Binary"/>
			</xsd:simpleType>
			<xsd:simpleType name="entityTableName">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:complexType name="document">
				<xsd:sequence>
					<xsd:element name="entityId" type="tns:entityId"/>
					<xsd:element name="entityTableName" type="tns:entityTableName"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="fileName" type="tns:fileName"/>
					<xsd:element maxOccurs="1" minOccurs="0" name="contentType" type="tns:contentType"/>
					<xsd:element name="fileContent" type="tns:fileContent"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="respCode">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:simpleType name="respDesc">
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
			<xsd:complexType name="response">
				<xsd:sequence>
					<xsd:element name="respCode" type="tns:respCode"/>
					<xsd:element name="respDesc" type="tns:respDesc"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="uploadDocumentRq">
				<xsd:sequence>
					<xsd:element name="document" type="tns:document"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="uploadDocumentRs">
				<xsd:sequence>
					<xsd:element name="response" type="tns:response"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="downloadDocumentRq">
				<xsd:sequence>
					<xsd:element name="entityId" type="tns:entityId"/>
					<xsd:element name="entityTableName" type="tns:entityTableName"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="downloadDocumentRs">
				<xsd:sequence>
					<xsd:element name="fileName" type="tns:fileName"/>
					<xsd:element name="contentType" type="tns:contentType"/>
					<xsd:element name="fileContent" type="tns:fileContent"/>
					<xsd:element name="response" type="tns:response"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="downloadDocumentRqMsg" type="tns:downloadDocumentRq"/>

			<xsd:element name="downloadDocumentRsMsg" type="tns:downloadDocumentRs"/>

			<xsd:element name="uploadDocumentRqMsg" type="tns:uploadDocumentRq"/>

			<xsd:element name="uploadDocumentRsMsg" type="tns:uploadDocumentRs"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="uploadDocumentRq">
		<wsdl:part element="tns:uploadDocumentRqMsg" name="param"/>
	</wsdl:message>
	<wsdl:message name="uploadDocumentRs">
		<wsdl:part element="tns:uploadDocumentRsMsg" name="param"/>
	</wsdl:message>
	<wsdl:message name="downloadDocumentRq">
		<wsdl:part element="tns:downloadDocumentRsMsg" name="param"/>
	</wsdl:message>
	<wsdl:message name="downloadDocumentRs">
		<wsdl:part element="tns:downloadDocumentRqMsg" name="param"/>
	</wsdl:message>
	<wsdl:portType name="document">
		<wsdl:operation name="uploadDocument">
			<wsdl:input message="tns:uploadDocumentRq"/>
			<wsdl:output message="tns:uploadDocumentRs"/>
		</wsdl:operation>
		<wsdl:operation name="downloadDocument">
			<wsdl:input message="tns:downloadDocumentRq"/>
			<wsdl:output message="tns:downloadDocumentRs"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="documentSOAP" type="tns:document">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="uploadDocument">
			<soap:operation soapAction="http://za.co.idea/document/uploadDocument"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="downloadDocument">
			<soap:operation soapAction="http://za.co.idea/document/downloadDocument"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="document">
		<wsdl:port binding="tns:documentSOAP" name="documentSOAP">
			<soap:address location="http://za.co.idea/document/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
